<h1>Hello Chris!</h1>
<% if @ticker %>
  <%= @ticker %>
<% end %>
<% if @nothing %>
  <%= @nothing %>
<% end %>
<% if @failed_to_fetch %>
  <%= @failed_to_fetch %>
<% end %>
<% if @stock %>
  <%= @stock.company_name %>
  $<%= @stock.latest_price %>
  <br/>
<% end %>
<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
  <%= submit_tag 'Lookup' %>
<% end %>